::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: rgba(10, 0, 0, 0.2);
  -webkit-border-radius: 0px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(10, 0, 0, 0.2);
}
